# ----- Gradle -----

*bin/
build/
.gradle/

# ----- Misc. -----

temp/

**/.DS_Store

*.log*
*.log

# ----- IntelliJ IDEA -----

.idea/
Dyvil.iml
Dyvil.ipr
Dyvil.iws

# ----- Eclipse -----

.classpath
.project
.settings/
